"*":
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "spell-check"
      "git-diff"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "link"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "welcome"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "212d9d5d-1516-3ebf-35df-3115e3d80450"
  "linter-ui-default":
    panelHeight: 69
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
